html.ext-style body {
  color: #ffffff !important;
}


html.ext-style span,
html.ext-style h1,
html.ext-style h2,
html.ext-style h3,
html.ext-style .card__title,
html.ext-style .calendar-scroll-mask,
html.ext-style .calendar .calendar-content .card-title[data-v-49cfa5fb],
html.ext-style p {
  color: #ffffff !important;
}

html.ext-style .anime,
html.ext-style .card__title{
  background-color: #0f0f0f !important;
}

html.ext-style .banner .banner-bg .banner-bottom-bg[data-v-dc3c63fb]{
  mask: linear-gradient(0deg, #0f0f0f 30%, transparent 100%) !important;
  background-image: linear-gradient(180deg, var(--banner-card-bg-color) 0%, rgba(161, 161, 161, 0.5) 50%, rgba(65, 65, 65, 0.9) 80%, #0f0f0f 100%) !important;
}

html.ext-style .card__container .card__bottom .card__mask-bg[data-v-fccdcfb5]{
  background-image: linear-gradient(360deg, #0f0f0f 0%, #0f0f0f 17.62%, rgba(66, 66, 66, 0.8) 35%, rgba(119, 119, 119, 0.2) 65%, rgba(255, 255, 255, 0) 100%) !important;
}
html.ext-style .scroll-cards {
  background-color: transparent;
}

html.ext-style .bstar-header:not(.transparent) {
  background-color: #0f0f0f !important;
}

html.ext-style .bstar-header-search-bar:not(.transparent) {
  background-color: #222222 !important;
}

html.ext-style .bstar-header__download-btn:not(.transparent), html.ext-style .bstar-header-search-bar:not(.transparent)::placeholder .bstar-header-search-bar__input::placeholder {
  color: #f0f0f0 !important;
  background-color: #565656 !important;
}

html.ext-style .bstar-header-search-bar:not(.transparent) .bstar-header-search-bar__input {
  color: #ffffff !important;
}

html.ext-style :where(.bstar-header__action[data-v-66ffa610]:not(.transparent)) {
  color: #f0f0f0 !important;
}

html.ext-style .bstar-header__action.transparent {
  background-color: transparent !important;
}

.hidden {
  display: none !important;
}